#!/bin/bash

# Check for ls version
if [[ $(uname) == "Darwin" ]]; then
  ls_color="-G"
else
  ls_color="--color"
fi

# List files and directories
alias ls="ls -lh ${ls_color}"
alias ll="ls -lhA ${ls_color}"

alias grep=grep --color=auto
