[user]
	name = Emmanuel Milou
	email = emmanuel.milou@shopify.com
[rerere]
	enabled = 1
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[pull]
	rebase = true
[alias]
	st = status
	ci = commit
	co = checkout
  cehckout = checkout
  checkotu = checkout
	br = branch
	di = diff
  aa = add --all
  amend = commit --amend
